.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 1px;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-row-gap: 1px;
}
.text-center{
	text-align: center
}
.center{
	grid-column: 2/3
}
p{
	color: rgb(255,48,0);
	font-family: Geneva
}
.right{
	grid-column: 3/3
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}