.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 1px;
	grid-template-rows: .05fr 1fr 1fr;
	grid-row-gap: 1px;
}
.text-center {
	text-align: center
}
.center {
	grid-column: 2/3
}
p {
	color: rgb(237,28,37);
	font-family: Geneva
}
.right {
	grid-column: 3/3
}
body {
	background: linear-gradient(to right, rgb(88,168,255), rgb(237,28,37));
}
.blue {
	color: rgb(88,168,255)
}
.left {
	grid-column: 1/2
}